


@font-face {
    font-family: MainFont;
    src: url(fonts/Proelium.otf)
}

@font-face {
    font-family: secondFont;
    src: url(fonts/Bluffolk.otf)
}

@font-face {
    font-family: thirdFont;
    src: url(fonts/Kleader.ttf)
}

* {
    margin: 0;
    padding: 0;
    
}

h1, h2 {
    font-family: MainFont;

}

p , il {
    font-family: secondFont;

}

il a {
    text-decoration: none;
    color: black;
}
body{
    display: flex;
    flex-direction: column;
    
}


/* nav */
nav {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #B17457;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;

}
.logo-container {
    display: flex;
}


.nav-links-container {
    display: flex;
    gap: 60px;
    align-items: center;
    
}

.nav-links-container il {
    font-size: 30px;
}

/*banner area */
.banner {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 600px;
    background-image: url('images/Abu_Queider_Co_Firearms_Banner.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
    color: black;
    text-align: start;
}
.banner-text {
    flex: 1;
    margin-left: 150px
}


.empty-container {
    flex: 1;
}

.banner-text h1{
    z-index: 1; 
    font-size: 80px;
    margin-bottom: 20px;

}

.banner-text p{
    font-size: 40px;
}


/*our traites sections */
.traits-section {
    display: flex;
    flex-direction: column;
    background-color: #D8D2C2;

}
.traits-container {
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.traits-section h2 {
    margin-top: 40px;

    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.traits-container div {
    flex-basis: 0;
}

.traits-container div p {
    text-align: center;
    font-size: 30px;
    max-width: 300px;
}

/*Thomas-Jefferson*/

.jefferson-container {
    display: flex;
    flex-direction: row;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
    align-items: center;
    background-color: #FAF7F0;

}
.jefferson-container img {
    max-height: 400px;
}

.jefferson-container div h1 {
    font-family: thirdFont;
    font-size: 30px;
    margin:20px;
}

.jefferson-container div h2 {
    font-family: secondFont;

    font-size: 25px;
    margin:20px;
    text-align: end;
}

