* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/* nav */
nav {
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: #B80000;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;

}
.logo-container {
    display: flex;
}


.nav-links-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav-links-container il {
    font-size: 30px;
}

/*banner area */
.banner {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 600px;
    background-image: url('images/Abu_Queider_Co_Firearms_Banner.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
    color: black;
    text-align: start;
}
.banner-text {
    flex: 1;
    margin-left: 150px
}


.empty-container {
    flex: 1;
}

.banner-text h1{
    z-index: 1; 
    font-size: 60px;
}

.banner-text p{
    font-size: 40px;
}


/*our traites sections */
.traits-section {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    margin-left: 150px;
}
.traits-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.traits-section h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

}
.traits-container div {
    flex-basis: 0;
}

.traits-container div p {
    text-align: center;
    font-size: 30px;
    max-width: 300px;
}